@charset "utf-8";

kbd {
  font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", "Courier", monospace;
  font-size: 80%; padding: 1px 5px; vertical-align: 1px;
  border: 1px solid silver; border-bottom: 2px solid gray; border-radius: 3px;
  display: inline-block; text-indent: 0; line-height: 1.2; white-space: nowrap;
  /* line-height: 1.8; */
  text-decoration: inherit;
}

i.kbd,
kbd>i { color: #b0b; }
i.kbd:before,
kbd>i:before { content: '<'; }
i.kbd:after,
kbd>i:after { content: '>'; }

code {
  font-family: monospace;
  padding: 2px 4px; background-color: #eee; border-radius: 3px;
}

table.normal>*>tr>th{background-color:#eee;}
table.normal>*>tr>th.markB{background-color:#fee;}
table.normal>*>tr>th.markC{background-color:#efe;}
dfn.cfunc{color:blue;}
dfn.cmode{color:brown;}
dfn.sgr{color:brown;}

table.contra-cell-centered>tbody>tr>td,
table.contra-cell-centered>tbody>tr>th { text-align: center; }

a.contra-autolink { text-decoration: none; color: #48d; }
a.contra-autolink:hover { text-decoration: underline; }
